.page-form {
    width: 100%;
  }
  
  .form-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    margin-right: 1rem;
    text-align: left;
    flex: 0 0 400px;
  }

  .form-group input {
    max-width: 200px;
  }
  
  .form-control {
    flex: 1;
    
  }