<button class="mat-drawer-btn sec-page-btn" (click)="drawer.toggle()">
  <mat-icon>settings</mat-icon>
</button>
<mat-drawer-container [hasBackdrop]="true" (backdropClick)="drawer.close()"id="ctn">
  <h1 class="title">Engineer Salary Data</h1>
  <mat-drawer #drawer mode="over">
      <h2>Manage Salaries</h2>
      <ul>
        <li><a routerLink="/data/add-data-engineer-salary">Add a Salary</a></li>
        <li><a (click)="toggleSecondColumn()">Add/Remove Second Column</a></li>
      </ul>
  </mat-drawer>
  <mat-drawer-content class="flexbox">
    <!-- Find Salaries by Job Title -->
    <div class="card">
      <h2>Find Salaries by Job Title</h2>
      <div class="">
        <label for="jobTitle">Job Title:</label>
        <select id="jobTitle" [(ngModel)]="selectedTitle" (change)="onTitleChange()">
          @for (title of jobTitles; track title) {
            <option [value]="title">{{ title }}</option>
          }
        </select>
      </div>
      <table>
        <thead>
          <tr>
            <th>Job</th>
            <th>Exp</th>
            <th>Salary</th>
            <th>Com Location</th>
            <th>Size</th>
            <th>Remote</th>
          </tr>
        </thead>
        <tbody>
          @for( salary of salariesByTitle; track salary.salary_in_usd){
            <tr>
                <td>{{ salary.job_title }}</td>
                <td>{{ salary.experience_level}}</td>
                <td>{{ salary.salary_in_usd }}</td>
                <td>{{ salary.company_location }}</td>
                <td>{{ salary.company_size }}</td>
                <td>{{ salary.remote_ratio }}</td>
                
            </tr>
            }
        </tbody>
      </table>
    </div>
    @if(showSecondColumn == true){
    <hr>
    <div class="card">
      <h2>Find Salaries by Job Title</h2>
      <div class="">
        <label for="jobTitle">Job Title:</label>
        <select id="jobTitle" [(ngModel)]="selectedTitle2" (change)="onTitleChange2()">
          @for (title of jobTitles; track title) {
            <option [value]="title">{{ title }}</option>
          }
        </select>
      </div>
      <table>
        <thead>
          <tr>
            <th>Job</th>
            <th>Exp</th>
            <th>Salary</th>
            <th>Com Location</th>
            <th>Size</th>
            <th>Remote</th>
          </tr>
        </thead>
        <tbody>
          @for( salary of salariesByTitle2; track salary.salary_in_usd){
            <tr>
                <td>{{ salary.job_title }}</td>
                <td>{{ salary.experience_level}}</td>
                <td>{{ salary.salary_in_usd }}</td>
                <td>{{ salary.company_location }}</td>
                <td>{{ salary.company_size }}</td>
                <td>{{ salary.remote_ratio }}</td>
                
            </tr>
            }
        </tbody>
      </table>
    </div>
    }

</mat-drawer-content>
</mat-drawer-container>