<div class="sec-page-ctn">
      <h1>{{this.securityObject.userName}}</h1>
      <h1 class="sec-page-title">Reset Password</h1>
      <form class="sec-page-form" [formGroup]="resetForm" (keyup.enter)="resetPassword()">
        <input  class="form-control" required
                formControlName="resetCode"
                [ngClass]="{'invalid-field' : resetForm.controls['resetCode'].invalid && (resetForm.controls['resetCode'].touched || formSubmitted)}"
                placeholder="Reset Code" />
  
        <input  class="form-control" required
                formControlName="newPassword"
                [ngClass]="{
                    'invalid-field' : resetForm.controls['newPassword'].invalid && (resetForm.controls['newPassword'].touched || formSubmitted)
                  }"
                type="password" placeholder="New Password" />
                
        <div class="sec-page-btn" (click)="resetPassword()">
          Reset Password
        </div>
      </form>
</div>
