<div id="ctn">
    <h1 class="title">Engineer Salary Data</h1>
    <div class="flexbox">
        <div class="card">
            <h2>Top Paid Data Engineer Salaries</h2>
            <table>
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Salary (USD)</th>
                        <th>Company Location</th>
                        <th>Remote Ratio</th>
                    </tr>
                </thead>
                <tbody>
                    @for( salary of salaries; track salary.salary_in_usd){
                    <tr>
                        <td>{{ salary.job_title }}</td>
                        <td>{{ salary.salary_in_usd }}</td>
                        <td>{{ salary.company_location }}</td>
                        <td>{{ salary.remote_ratio }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card">
            <h2>Find Salaries by Job Title</h2>
            <label for="jobTitle">Job Title:</label>
            <select id="jobTitle" [(ngModel)]="selectedTitle" (change)="onTitleChange()">
              @for (title of jobTitles; track title) {
              <option [value]="title">{{ title }}</option>
              }
            </select>

        </div>
        <div class="card">
            <ul>
                <li><a routerLink="data/">View More Salary Data</a></li>
            </ul>
        </div>
    </div>
</div>
