<h1 class="sec-page-title">Forgot Password</h1>
<div class="sec-page-ctn">
      <form class="sec-page-form" [formGroup]="forgotForm" (keyup.enter)="resetRequest()">
        <input  class="form-control" required
                formControlName="email"
                [ngClass]="{'invalid-field' : forgotForm.controls['email'].invalid && (forgotForm.controls['email'].touched || formSubmitted)}"
                autofocus="autofocus" placeholder="Email" />
        <div class="sec-page-btn" (click)="resetRequest()">
            Send Email
        </div>
      </form>
</div>
